.App {
  text-align: center;
}

input[type="text"] {
  background-color: #282c34;
  border: none;
  color: white;
  border-bottom: 1px solid #4a5568;
}

li {
  text-align: left;
  list-style: none;
}

ul {
  grid-gap: 4px;
  padding: 1vw;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

@media (min-width: 992px) {
  ul {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
